summary: Operation on configuration group
parameters:
  - name: groupKey
    in: path
    required: true
    schema:
      type: string
get:
  tags:
    - configuration
  responses:
    '200':
      $ref: "../responses/ConfigurationEntrySchemaResponse.yaml"
    default:
      $ref: "../responses/ApiErrorResponse.yaml"