openapi: 3.0.4
info:
  title: Hubertus Stable
  description: This project allows for making online bookings for a
    riding hall in a stable.
  version: 0.1.0
servers:
  - url: http://localhost:8080
    description: development server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Id:
      description: An unique identifier
      type: integer
      minimum: 0


    ApiSubError:
      description: A standard sub error schema
      type: object
      properties:
        message:
          type: string
        suggestedAction:
          type: string

    ApiError:
      description: A standard error schema
      properties:
        status:
          type: integer
          minimum: 400
          description: A HTTP error code
        message:
          type: string
        suggestedAction:
          type: string
        subErrors:
          type: array
          items:
            $ref: "#/components/schemas/ApiSubError"


    User:
      description: Represents a user
      properties:
        id:
          $ref: "#/components/schemas/Id"
        name:
          type: string
        phone:
          type: string
        email:
          type: string
        locked:
          type: boolean
        authorities:
          type: array
          items:
            type: string
            description: Represent user permissions

    AuthenticationRequest:
      description: Allows for authentication
      properties:
        username:
          type: string
          description: Username of the user
        password:
          type: string
          description: User password
      required:
        - username
        - password

    AuthenticatedResponse:
      description: Response sent upon sucessfull authentication
      properties:
        token:
          type: string
          description: A web token that allows for future authentication

    CreateUserRequest:
      description: Provides information about a user to be created
      properties:
        username:
          type: string
          description: A username of user to be created

  requestBodies:
    AuthenticationRequestBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AuthenticationRequest"
      required: true

    CreateUserRequestBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateUserRequest"
      required: true

  responses:
    ApiErrorResponse:
      description: A response sent upon an error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"

    AuthenticatedResponse:
      description: A response containing authentication token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AuthenticatedResponse"

    UserResponse:
      description: Contains a single user
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/User"

    UserListResponse:
      description: Contains a list of users
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/User"


    ResetPasswordResponse:
      description: Contains a new password for user
      content:
        application/json:
          schema:
            properties:
              newPassword:
                type: string

security:
  - bearerAuth: []

tags:
  - name: authentication
  - name: user managment

paths:
  /auth:
    summary: Allows for obtaining authentication token
    post:
      tags:
        - authentication
      requestBody:
        $ref: "#/components/requestBodies/AuthenticationRequestBody"
      responses:
        '200':
          $ref: "#/components/responses/AuthenticatedResponse"
        default:
          $ref: "#/components/responses/ApiErrorResponse"

  /users:
    summary: Manages users
    get:
      description: Fetches all users
      tags:
        - user managment
      responses:
        '200':
          $ref: "#/components/responses/UserListResponse"
        default:
          $ref: "#/components/responses/ApiErrorResponse"

    post:
      description: Creates a user with specified username and sends it back
      tags:
        - user managment
      requestBody:
        $ref: "#/components/requestBodies/CreateUserRequestBody"
      responses:
        '200':
          $ref: "#/components/responses/UserResponse"
        default:
          $ref: "#/components/responses/ApiErrorResponse"

    delete:
      description: Deletes specified user
      tags:
        - user managment
      parameters:
        - name: userId
          in: query
          required: true
          description: An id of user to be deleted
          schema:
            $ref: "#/components/schemas/Id"
      responses:
        '200':
          description: Operation sucessfull
        default:
          $ref: "#/components/responses/ApiErrorResponse"

  /users/{userId}/resetpassword:
    summary: Resets specified user password
    patch:
      tags:
        - user managment
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Id"
      responses:
        '200':
          $ref: "#/components/responses/ResetPasswordResponse"
        default:
          $ref: "#/components/responses/ApiErrorResponse"











