openapi: 3.0.3
info:
  title: Hubertus Stable
  description: This project allows for making online bookings for a
    riding hall in a stable.
  version: 0.1.0
servers:
  - url: http://localhost:8080
    description: development server

components:
  securitySchemes:
    $ref: "./securitySchemes/index.yaml"

  schemas:
    $ref: "./schemas/index.yaml"


  requestBodies:
    $ref: "./requestBodies/index.yaml"

  responses:
    $ref: "./responses/index.yaml"

security:
  - bearerAuth: []

tags:
  - name: authentication
  - name: users
  - name: user managment
  - name: activities
  - name: configuration
  - name: bookings
  - name: booking managment
  - name: activity constraints
  - name: role managment
  - name: profile

paths:
  /auth:
    $ref: "./paths/auth.yaml"

  /users:
    $ref: "./paths/users.yaml"

  /admin/users:
    $ref: "./paths/admin-users.yaml"

  /users/{userId}:
    $ref: "./paths/usersId.yaml"

  /users/{userId}/picture:
    $ref: "./paths/usersIdProfilePicture.yaml"

  /profile/picture:
    $ref: "./paths/profileProfilePicture.yaml"

  /profile/changepwd:
    $ref: "./paths/profileChangePasswd.yaml"

  /profile/recoverpwd:
    $ref: "./paths/profileRecoverPassword.yaml"

  /admin/users/{userId}:
    $ref: "./paths/admin-usersId.yaml"

  /admin/users/{userId}/resetpassword:
    $ref: "./paths/changepw.yaml"

  /admin/users/{userId}/roles:
    $ref: "./paths/usersIdRoles.yaml"

  /admin/users/{userId}/roles/{roleId}:
    $ref: "./paths/usersIdRolesId.yaml"

  /activities:
    $ref: "./paths/activities.yaml"

  /activities/{activityId}:
    $ref: "./paths/activitiesId.yaml"

  /activities/{activityId}/constraints:
    $ref: "./paths/activityConstraints.yaml"

  /configuration:
    $ref: "./paths/configuration.yaml"

  /configuration/{groupKey}:
    $ref: "./paths/configurationGroupKey.yaml"


  /configuration/{groupKey}/{key}:
    $ref: "./paths/configurationEntry.yaml"

  /bookings:
    $ref: "./paths/bookings.yaml"

  /bookings/{bookingId}:
    $ref: "./paths/bookingsId.yaml"

  /bookings/time:
    $ref: "./paths/bookingTime.yaml"

  /admin/bookings/bookingId:
    $ref: "./paths/admin-bookingsId.yaml"

  /roles:
    $ref: "./paths/roles.yaml"

  /roles/{roleId}:
    $ref: "./paths/rolesId.yaml"

  /roles/{roleId}/authorities:
    $ref: "./paths/rolesIdAuthorities.yaml"

  /authorities:
    $ref: "./paths/authorities.yaml"
